<p id="notice"><%= notice %></p>


<div class= 'text-center'>
    <%= link_to 'Create New Species', new_medium_path%>
</div><br>

<div class= "container">
  <div class= "table-responsive">
    <table class= "table table-condensed table-hover table-bordered">
      <thead>
        <tr>
          <th>Species</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @media.each do |medium| %>
          <tr>
            <td><%= medium.name %></td>
            <td><%= link_to 'Edit', edit_medium_path(medium) %></td>
            <td><%= link_to 'Delete', medium_path(medium), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<br>
  
</div